{
  "extends": "eslint-config-airbnb",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": 0,
    "max-len": [
      "error",
      {
        "code": 160,
        "tabWidth": 1,
        "ignoreUrls": true,
        "ignoreTrailingComments": true
      }
    ]
  }
}
